body{
    margin:0px;
    padding:0px;
    font-family:"Microsoft YaHei UI";
}
a{
    text-decoration:none;
    color: #4c4c4c;
}
.nav{
    width:100%;
    height:50px;
}
/*导航左边*/
.nav-left{
    float:left;
    width:30%;
    height:50px;
}
.nav-left img {
    margin: 10px 5px -5px 100px;
    width:30px;
    height:30px;
}
.nav-left span{
    font-weight:bold;
}
/*导航右边*/
.nav-right{
    float:right;
    width:70%;
}
.nav-right ul{
    padding-right:80px;
    list-style-type:none;
}
.nav-right li{
    text-align:center;
    margin-left:60px;
    float:right;
    display:inline;
    font-family:"Microsoft YaHei UI Light";
    font-size:0.8em;
    font-weight:800;
}
.nav-right span{
    margin-right:20px;
}
.a-bottom{
    width:150%;
    margin-left:-25%;
    margin-top:10px;
    background-color: #f54f4d;
    height:5px;
    bottom:0px;
}

/*导航栏鼠标滑动效果效果*/
li a:link{
    color: #4c4c4c;
}
li a:visited{
    color: #f54f4d;
}
li a:hover{
    color: #f54f4d;
}
li a:active{
    color: #f54f4d;
}

li a:link + .a-bottom {
    visibility: hidden;
}
li a:visited +.a-bottom{
    visibility: visible;
}
li a:hover + .a-bottom{
    visibility: visible;
}
li a:active + .a-bottom{
    visibility: visible;
}

/*第一层图片*/
.layer-1{
    color:white;
    width:100%;
    height:600px;
    background:url("../image/banner.jpg")no-repeat 0 0;
    background-size:100% 100%;
    font-size:100%;
}

h1{
    margin-top:0px;
    padding-top:160px;
    font-size:4em;
}
.layer-1 h1, h3,.button{
    margin-left:100px;
}
.button{
    margin-top:60px;
    background-color: #E64E4C;
    width:200px;
    height:40px;
    text-align:center;
    padding:10px;
}
.button a{
    color:white;
    font-size:1.5em;
    font-weight:800;
}
/*第二层*/
.layer-2{
    width:100%;
    height:300px;
    text-align:center;
}
.layer-2-list,
.v-line{
    float:left;
    margin:100px 2.5% 100px 2.5%;
    width:15%;
    color: #727272;
}
.v-line{
    margin-top:160px;
    height:50px;
    width:2px;
    background-color: #898989;
}
/*媒体查询*/
@media all and (max-width: 1100px){
    .nav,.layer-1,
    .layer-2,
    .layer-3,
    .layer-4{
        width:1100px;
    }
}
/*第三层*/
.layer-3{
    width:100%;
    height:450px;
    background-color:#EDEDED;
    text-align:center;
    color: #717171;
    font-weight:900;
}
.layer-3 img{
    margin-top:150px;
}
.layer-3 p{
    font-family:"Microsoft YaHei UI";
    font-size:4em;
    font-weight:900;
    margin:30px auto;
}
/*第四层*/
.layer-4{
    width:100%;
    height:450px;
    background:url(../image/searchbg.jpg)no-repeat 0 0;
    background-size:100% 450px;
}